@tailwind base;
@tailwind components;
@tailwind utilities;



    .sideBar {
        @apply
        flex
        items-center
        p-2
        text-gray-900
        hover:border-l-4
        hover:bg-pink-200
        hover:border-l-pink-500
        dark:text-white
        dark:hover:bg-gray-700
        hover:translate-x-3
        hover:duration-700
        ease-in-out
    }
    .sideBar >.mytests{
        @apply
        hover:text-white
    }
    /* ... */

